<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='container'>
      <nav class="navbar navbar-light bg-light justify-content-between">
        <%= image_tag 'logo.png', alt: "Le Wagon logo", width: 100%>
        <div class='opt-navbar'>
          <%= link_to 'New list', new_list_path, class:"text-decoration-none btn"%>
          <%= link_to 'My Lists', lists_path, class:"text-decoration-none btn"%>
        </div>
      </nav>
      <%= image_tag "banner.png", style: "width: 100%; object-fit: cover; opacity: 0.1" %>
      <%= yield %>
    </div>
  </body>
</html>
